body {
    margin: 0;
    padding: 0;
}

#activities-div {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#launchers-div {
}

.appWindow > iframe {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

#xo-img {
    position: absolute;
    width: 110px;
    height: 110px;
    top: calc(50% - 55px);
    left: calc(50% - 55px);
}

/* the following should be in artwork */

menu[type="toolbar"] {
    position: absolute;
    background-color: #282828;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    height: 30px;
    border-radius: 15px;
    background-color: #E5E5E5;
}

input[type="text"]:focus {
    background-color: white;
}

#search-input {
    margin: 12px 35px 13px 35px;
}
