body {
    margin: 0;
    padding: 0;
}

#activities-div {
    display: none;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#launchers-div {
    margin: 200px;
}

.appWindow > iframe {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 55px;
    height: 55px;
    padding: 50px;
}
